<div class="container">
  <div class="my-4" *ngIf="inPhotoDetails">
    <p class="text-center font-weight-light">
      <a class="btn btn-link" (click)="goBack()">🔙 Back</a>
    </p>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="card border-0 text-center">
      <a class="btn btn-link" (click)="goToPhotoDetails(id)">
        <img class="img-thumbnail card-img-top" [src]="thumbnailUrl" [alt]="title">
      </a>
      <div class="card-body">
        <h5 *ngIf="(user$ | async) as user" class="card-title">{{user.name}}</h5>
        <p class="card-text">{{title}}
        </p>
      </div>
    </div>
  </div>
</div>
